
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

#root {
    min-height: 100vh;
}


.form-container{
    box-shadow: 1px 2px 5px 4px rgba(0,0,0,0.54);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 60vw;
    height: 70vh;
    background-color: #b2ffee;
    border-radius: 15px;
}
form > p{
    /* color: black; */
    color: rgb(54,183,150);;
    padding: 15px;
    text-align: center;
}
input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
} 
.form-menu-options{
    color: rgb(54,183,150);
    border: none;
    padding: 30px;
}
.form-nav{
    position: absolute;
    margin: 0px 0px 0 0px;
    height: 100%;
    padding: 15px;
    background-color: #89ffe5;
    border-radius: 15px;
    width: max-content;
    margin-bottom: 15px;

}